<div class="container">
    <div class="card table-responsive">
        <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-touch"></span><span>Tipo de Propiedades</span>
        </h2>
        <p>
            <a (click)="gotoCreatePropertyType()" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Crear</a>
        </p>
        <br/>
        <table class="table" *ngIf="listPropertyType.length != 0">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Tipo de Propiedad</th>
                    <th scope="col">Propiedades</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let propertyType of listPropertyType | paginate: { id: 'server', itemsPerPage: pageItems, currentPage: page, totalItems: total }; index as i; ">
                    <th>{{i + 1}}</th>
                    <td>{{propertyType.name}}</td>
                    <td>{{propertyType.properties.length}}</td>
                    <td>
                        <a class="btn btn-primary mb-1 mr-1" (click)="gotoEditPropertyType(propertyType.id)"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-success mb-1 mr-1" (click)="gotoDetailsPropertyType(propertyType.id)"><i class="fas fa-list"></i></a>
                        <a class="btn btn-danger mb-1 mr-1" (click)="showDeleteProperty(propertyType.id)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="listPropertyType.length != 0">
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" [hidden]="deletePropertyShow">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteLabel">Mensaje de Confirmación</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteProperty()"></button>
                </div>
                <div class="modal-body">
                    <p>¿Realmente quiere eliminar este tipo de propiedad?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeDeleteProperty()">Cerrar</button>
                    <button class="btn btn-danger" (click)="delete()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>