<div class="container">
    <div class="card table-responsive">
        <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-touch"></span><span>Tipo de Propiedades</span>
        </h2>
        <p>
            <a class="btn btn-primary"><i class="fas fa-plus-circle"></i> Crear</a>
        </p>
        <br/>
        <table class="table" *ngIf="listPropertyType.length != 0">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Tipo de Propiedad</th>
                    <th scope="col">Propiedades</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let propertyType of listPropertyType | paginate: { id: 'server', itemsPerPage: pageItems, currentPage: page, totalItems: total }; index as i; ">
                    <th>{{i + 1}}</th>
                    <td>{{propertyType.name}}</td>
                    <td>{{propertyType.properties.length}}</td>
                    <td>
                        <a class="btn btn-primary" (click)="editarPropertyType(propertyType.id)"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-default" (click)="editarPropertyType(propertyType.id)"><i class="fas fa-list"></i></a>
                        <a class="btn btn-danger" (click)="editarPropertyType(propertyType.id)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="listPropertyType.length != 0">
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
    </div>
</div>