<section class="section bg-default section-md" *ngIf="showProperties == false">
    <div class="container">
        <div>
            <h2>Detalles de la Propiedad: {{property.id}}</h2>
            <br/>
            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <p><strong>Tipo de Propiedad:</strong> {{property.propertyType.name }}</p>
                    <p><strong>Vecindario:</strong> {{property.neighborhood}}</p>
                    <p><strong>Dirección:</strong> {{property.address}}</p>
                    <p><strong>Precio:</strong> {{property.price}}</p>
                    <p><strong>Metros Cuadrados:</strong> {{property.squareMeters}}</p>
                    <p><strong>Cuartos:</strong> {{property.rooms}}</p>
                    <p><strong>Tiene Parqueo:</strong> {{property.hasParkingLot == true ? 'Si' : 'No'}}</p>
                </div>
                <div class="col-12 md:col-6">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item" [ngClass]="{ 'active': i == 0}" *ngFor="let imagen of property.propertyImages; index as i;">
                                <img [src]="imagen.imageUrl | imagen" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" *ngIf="showProperties == true">
    <div class="card">
        <h2>Detalles de la Propiedad: {{property.id}}</h2>
        <br/>
        <div class="grid p-fluid">
            <div class="col-12 md:col-6">
                <h5><strong>Ownwer:</strong></h5>
                <p><strong>Docuemnto:</strong> {{property.owner.user.document}}</p>
                <p><strong>Nombre:</strong> {{property.owner.user.firstName}}</p>
                <p><strong>Apellido:</strong> {{property.owner.user.lastName}}</p>
                <p><strong>Correo Electrónico:</strong> {{property.owner.user.email}}</p>
                <p><strong>Teléfono:</strong> {{property.owner.user.phone}}</p>
            </div>
            <div class="col-12 md:col-6">
                <h5><strong>Propiedad:</strong></h5>
                <p><strong>Vecindario:</strong> {{property.neighborhood}}</p>
                <p><strong>Dirección:</strong> {{property.address}}</p>
                <p><strong>Precio:</strong> {{property.price}}</p>
                <p><strong>Metros Cuadrados:</strong> {{property.squareMeters}}</p>
                <p><strong>Cuartos:</strong> {{property.rooms}}</p>
                <p><strong>Tiene Parqueo:</strong> {{property.hasParkingLot == true ? 'Si' : 'No'}}</p>
            </div>
        </div>
        <hr>
        <br>
        <div class="grid p-fluid">
            <div class="col-12" *ngIf="property.contracts.length != 0">
                <h5><strong>Contratos:</strong></h5>
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Lessee</th>
                            <th scope="col">Comentarios</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Final</th>
                            <th scope="col">Esta Activo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let contract of property.contracts | paginate: { id: 'server', itemsPerPage: 5, currentPage: currentPage, totalItems: property.contracts.length }; index as i; ">
                            <th>{{i + 1}}</th>
                            <td>{{contract.lessee.user.fullNameWithDocument}}</td>
                            <td>{{contract.remarks}}</td>
                            <td>{{contract.price}}</td>
                            <td>{{contract.startDate}}</td>
                            <td>{{contract.endDate}}</td>
                            <td>{{contract.isActive == true ? 'Si' : 'No'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <pagination-controls (pageChange)="currentPage = $event" id="server"></pagination-controls>
                </div>
            </div>

            <div class="col-6 offset-md-3">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" [ngClass]="{ 'active': i == 0}" *ngFor="let imagen of property.propertyImages; index as i;">
                            <img [src]="imagen.imageUrl | imagen" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>
        </div>

    </div>