<div class="container">
    <div class="card table-responsive">
        <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-touch"></span><span>Owners</span>
        </h2>
        <br/>
        <table class="table" *ngIf="listOwners.length != 0">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Propiedades</th>
                    <th scope="col">Contratos</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let owner of listOwners | paginate: { id: 'server', itemsPerPage: pageItems, currentPage: page, totalItems: total }; index as i; ">
                    <th>{{i + 1}}</th>
                    <td>{{owner.user.document}}</td>
                    <td>{{owner.user.firstName}}</td>
                    <td>{{owner.user.lastName}}</td>
                    <td>{{owner.user.email}}</td>
                    <td>{{owner.user.phone}}</td>
                    <td>{{owner.properties.length}}</td>
                    <td>{{owner.contracts.length}}</td>
                    <td>
                        <a class="btn btn-primary" (click)="editarOwner(owner.id)"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-default" (click)="editarOwner(owner.id)"><i class="fas fa-list"></i></a>
                        <a class="btn btn-danger" (click)="editarOwner(owner.id)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="listOwners.length != 0">
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
    </div>
</div>