<div class="container">
    <div class="card table-responsive">
        <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-touch"></span><span>Owners</span>
        </h2>
        <p>
            <a (click)="gotoCreateOwner()" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Crear</a>
        </p>
        <br/>
        <table class="table" *ngIf="listOwners.length != 0">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Propiedades</th>
                    <th scope="col">Contratos</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let owner of listOwners | paginate: { id: 'server', itemsPerPage: pageItems, currentPage: page, totalItems: total }; index as i; ">
                    <th>{{i + 1}}</th>
                    <td>{{owner.user.document}}</td>
                    <td>{{owner.user.firstName}}</td>
                    <td>{{owner.user.lastName}}</td>
                    <td>{{owner.user.email}}</td>
                    <td>{{owner.user.phone}}</td>
                    <td>{{owner.properties.length}}</td>
                    <td>{{owner.contracts.length}}</td>
                    <td>
                        <a class="btn btn-success mb-1 mr-1" (click)="gotoEditOwner(owner.id)"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-primary mb-1 mr-1" (click)="gotoDetailsOwner(owner.id)"><i class="fas fa-list"></i></a>
                        <a class="btn btn-danger mb-1 mr-1" data-bs-toggle="modal" data-bs-target="#modalDelete" (click)="showModal(owner.id)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="listOwners.length != 0">
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteLabel">Mensaje de Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Realmente quiere eliminar este owner?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>