<div class="container">
    <div class="card table-responsive">
        <h2>Detalle del Lessee: {{lesseeResponse.id}}</h2>
        <a (click)="gotoLessee()" class="go_back"><i class="pi pi_back pi-fw pi-arrow-circle-left"></i></a>
        <br/>
        <div>
            <p><strong>Docuemnto:</strong> {{lesseeResponse.user.document}}</p>
            <p><strong>Nombre:</strong> {{lesseeResponse.user.firstName}}</p>
            <p><strong>Apellido:</strong> {{lesseeResponse.user.lastName}}</p>
            <p><strong>Correo Electrónico:</strong> {{lesseeResponse.user.email}}</p>
            <p><strong>Teléfono:</strong> {{lesseeResponse.user.phone}}</p>
        </div>
        <hr>
        <br>
        <div *ngIf="lesseeResponse.contracts.length == 0">
            <h5>No hay contratos agregados todavía.</h5>
        </div>
        <div *ngIf="lesseeResponse.contracts.length != 0">
            <h5><strong>Contratos:</strong></h5>
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Lessee</th>
                        <th scope="col">Comentarios</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Final</th>
                        <th scope="col">Esta Activo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let contract of lesseeResponse.contracts | paginate: { id: 'server', itemsPerPage: 5, currentPage: currentPage, totalItems: lesseeResponse.contracts.length }; index as i; ">
                        <th>{{i + 1}}</th>
                        <td>{{contract.lessee.user.fullNameWithDocument}}</td>
                        <td>{{contract.remarks}}</td>
                        <td>{{contract.price | currency}}</td>
                        <td>{{contract.startDate | date:'shortDate'}}</td>
                        <td>{{contract.endDate | date:'shortDate'}}</td>
                        <td>{{contract.isActive == true ? 'Si' : 'No'}}</td>
                        <td>
                            <a class="btn btn-primary mb-1 mr-1" (click)="gotoEditContract(contract.id)"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-success mb-1 mr-1" (click)="gotoDetailsContract(contract.id)"><i class="fas fa-list"></i></a>
                            <a class="btn btn-danger mb-1 mr-1" (click)="showDeleteContract(contract.id)"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <pagination-controls (pageChange)="currentPage = $event" id="server"></pagination-controls>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" [hidden]="deleteContractShow">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDeleteLabel">Mensaje de Confirmación</h5>
                        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteContract()"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Realmente quiere eliminar este contrato?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeDeleteContract()">Cerrar</button>
                        <button class="btn btn-danger" (click)="delete()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>