<section class="section bg-gray-100 box-image-left" *ngIf="listProperties.length != 0 && showProperties == false">
    <div class="container">
        <div class="row">
            <div class="wow fadeInLeft table-responsive">
                <div class="section-lg section-lg-top-100">
                    <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-touch"></span><span>Propiedades</span>
                    </h2>
                    <br/>
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Tipo de Propiedad</th>
                                <th scope="col">Vecindario</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Metros Cuadrados</th>
                                <th scope="col">Habitaciones</th>
                                <th scope="col">Tiene Parqueo</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let property of listProperties | paginate: { id: 'server', itemsPerPage: pageItems, currentPage: page, totalItems: total }; index as i; ">
                                <th>{{i + 1}}</th>
                                <td><img [src]="property.firstImage | imagen" alt="Image" class="d-block w-100" /></td>
                                <td>{{property.propertyType.name}}</td>
                                <td>{{property.neighborhood}}</td>
                                <td>{{property.address}}</td>
                                <td>{{property.price | currency}}</td>
                                <td>{{property.squareMeters}}</td>
                                <td>{{property.rooms}}</td>
                                <td>{{property.hasParkingLot == true ? 'Si' : 'No'}}</td>
                                <td>
                                    <a class="btn btn-primary" (click)="verPropiedad(property.id)"><i class="fas fa-list"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" *ngIf="showProperties == true">
    <div class="card table-responsive">
        <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-touch"></span><span>Propiedades</span>
        </h2>
        <br/>
        <table class="table" *ngIf="listProperties.length != 0">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Tipo de Propiedad</th>
                    <th scope="col">Vecindario</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Metros Cuadrados</th>
                    <th scope="col">Habitaciones</th>
                    <th scope="col">Tiene Parqueo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let property of listProperties | paginate: { id: 'server', itemsPerPage: pageItems, currentPage: page, totalItems: total }; index as i; ">
                    <th>{{i + 1}}</th>
                    <td><img [src]="property.firstImage | imagen" alt="Image" class="d-block w-100" /></td>
                    <td>{{property.propertyType.name}}</td>
                    <td>{{property.neighborhood}}</td>
                    <td>{{property.address}}</td>
                    <td>{{property.price | currency}}</td>
                    <td>{{property.squareMeters}}</td>
                    <td>{{property.rooms}}</td>
                    <td>{{property.hasParkingLot == true ? 'Si' : 'No'}}</td>
                    <td>
                        <a class="btn btn-primary" (click)="gotoDetailsProperty(property.id)"><i class="fas fa-list"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="listProperties.length != 0">
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
    </div>
</div>