<div class="container">
    <div class="card">
        <h2>Detalles del Manager: {{managerResponse.id}}</h2>
        <br/>
        <div>
            <p><strong>Docuemnto:</strong> {{managerResponse.user.document}}</p>
            <p><strong>Nombre:</strong> {{managerResponse.user.firstName}}</p>
            <p><strong>Apellido:</strong> {{managerResponse.user.lastName}}</p>
            <p><strong>Correo Electrónico:</strong> {{managerResponse.user.email}}</p>
            <p><strong>Teléfono:</strong> {{managerResponse.user.phone}}</p>
        </div>
    </div>
</div>